.elemental-preview__icon i.slideshow-icon {display: block; width: 28px; height: 28px; background: url('slideshow_icon.svg')}
.elemental-preview__icon i.sectionnav-icon {display: block; width: 28px; height: 28px; background: url('sectionnav_icon.svg')}
.elemental-preview__icon i.code-icon {display: block; width: 28px; height: 28px; background: url('code_icon.svg')}
.elemental-preview__icon i.gallery-icon {display: block; width: 28px; height: 28px; background: url('gallery_icon.svg')}
.elemental-preview__icon i.embed-icon {display: block; width: 28px; height: 28px; background: url('embed_icon.svg')}
